//文字コードはutf-8
@charset "UTF-8";

@use "../global" as g;

/* テキスト
========================================================*/
#{g.$prefix_mod}{
  &Bp{
    &Pc{
      @include g.media_queries(pc){
        display: inherit;
      }
      @include g.media_queries{
        display: none;
      }
    }
    &Sp{
      @include g.media_queries(pc){
        display: none;
      }
      @include g.media_queries{
        display: inherit;
      }
    }
  }
}
