//文字コードはutf-8
@charset "UTF-8";

@use "../global" as g;

/* テキスト
========================================================*/
#{g.$prefix_mod}{
  &Text{
    @include g.media_queries(pc){
      @include g.fontsize(16);
      margin: 0 0 20px;
    }
    @include g.media_queries{
      @include g.fontsize(14);
      margin: 0 0 10px;
    }
    &Bold{
      font-weight: 700;
    }
    &Center{
      text-align: center;
    }
    &Mini{
      margin: 0 0 60px;
      @include g.fontsize(14);
      @include g.media_queries{
        margin: 0 0 44px;
      }
    }
  }
}
